.a{
    border-radius: 60px;
    border: 3px solid red;
    width: 500px ;
    height: 250px;
    background-color: green;
}
.b{
    border-radius:25% 10% ;
    border: 3px solid red;
    width: 500px ;
    height: 250px;
    background-color: orange;
}
.c{
    border-radius: 35px 10em 10%;
    border: 3px solid red;
    width: 500px ;
    height: 250px;
    background-color: aqua;
}
.d{
    border-radius: 50px 50% 50cm 50em ;
    border: 3px solid red;
    width: 500px ;
    height: 250px;
    background-color: green;
}